text {
    font-family: sans-serif
}

.nodes:hover {
    cursor: pointer;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.viz-container {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.data-viz-container {
    display: none;
}

#causes-select-container {
    display: none;
}

.col-form-label {
    margin-right: 12px;
}

.btn-show {
    background-color:darkgray !important;
    border-color:darkgray !important;
}

.btn-show:hover {
    background-color: gray !important;
    border-color: gray !important;
}

.btn-add {
    background-color:darkgray !important;
    border-color:darkgray !important;
    display: none;
}

.btn-delete {
    background-color: darkgray !important;
    border-color:darkgray !important;
    display: none;
}

.btn-edit {
    background-color: darkgray !important;
    border-color: darkgray !important;
    display: none;
}

.btn-add:hover {
    background-color:gray !important;
    border-color: gray !important;
}

.btn-delete:hover {
    background-color: gray !important;
    border-color: gray !important;
}

.btn-edit:hover {
    background-color: gray !important;
    border-color: gray !important;
}

.act-ind {
    display: none;
}

.nav-form-label {
    color: white;
    margin-left: 32px;
}
